<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Create New Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{'/'}">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/list'}">list des clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/new'}">Ajouter un cluent</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div align="center">
    <h1>Ajouter Client</h1>
    <br />
     <div class="col-sm-4">
    <form action="#" th:action="@{/save}" th:object="${customer}" method="post">

      
 		<div alight="left">
            <tr>
                <label class="form-label" >Nom</label>
                <td>
	                <input type="hidden" th:field="*{id}" />
	                <input type="text" th:field="*{nom}" class="form-control" placeholder="Nom client" />
                </td>
            </tr>
         </div>   
            
          	<div alight="left">
          
            <tr>
                 <label class="form-label" >Prenom</label>
                <td><input type="text" th:field="*{prenom}" class="form-control" placeholder="Prenom" /></td>
            </tr>
            </div> 
            <div alight="left">
                 <tr>
                 <label class="form-label" >Email</label>
                <td><input type="text" th:field="*{Email}" class="form-control" placeholder="Email" /></td>
            </tr>
            </div> 
            
             <div alight="left">
                 <tr>
                 <label class="form-label" >Numero de telephone</label>
                <td><input type="text" th:field="*{numero}" class="form-control" placeholder="Numero de telephone" /></td>
            </tr>
            </div>
            
             <div alight="left">
                 <tr>
                 <label class="form-label" >Produit</label>
                <td><input type="text" th:field="*{produit}" class="form-control" placeholder="Produit" /></td>
            </tr>
            </div>  
			<br>
            <tr>
            <td colspan="2"><button type="submit" class="btn btn-info">Enregistrer </button> </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>